* {
    margin: 0;
    padding: 0;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}


/* Google font */

/* Importing Font from local file */
@font-face {
    font-family: 'bebas-neue';
    src: url("../font/BebasNeue-Regular.ttf");
    font-style: normal;
    font-weight: 100;
}
/* Importing Font from Google Font */
@import url(//db.onlinewebfonts.com/c/02c5086e8616653dade6e7cb3a1f0498?family=LTCBodoni175W01-Regular);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* navigation */

.brand-text {
    font-size: 50px;
    font-family: 'bebas-neue', 'gobold';
    padding: 5px 24px;
    margin-bottom: 0;
}

.tag-text {
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 5px 24px;
    position: relative;
    bottom: 20px;
}

a {
    color: white;
}

ul.position li {
    font: 24px 'bebas-neue', 'gobold';
}


div ul.links li {
    padding: 0px;
}

.navbar-brand {
    margin-bottom: 0;
}

.card-blog{
    border: none;
}

.card-body{
    padding: 0;
}

/* toggler */
.navbar-togler-icon {
    background-color: white;
}

/* index */
.index {
    margin-right: 90px;
}

.index1 .nav-item {
    padding: 10px;
}

/* index page background video */
.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* media query for the home video background */
@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../img/videoframe.jpg') center center / cover no-repeat;
    }

}

ul {
    list-style-type: none;
}

/* Card font manipulation */
.card-title{
    font-family: 'ltc-bodoni-175';
    font-weight: 400;
    font-style: italic;
    font-size: 35px;
    letter-spacing: .03em;
    line-height: 1em;
    text-transform: none;
    text-decoration: none;
    color: #222;
}

.blog-date{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #222;
}

.card-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 0;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .01em;
    line-height: 1.5em;
    text-transform: none;
    color: #222;
    padding-bottom: 10px;
}

.card-body a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .01em;
    line-height: 1.5em;
    text-transform: none;
    color: #222;
}

.blog-detail-header{
    font-family: 'bebas-neue';
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    letter-spacing: -.02em;
    line-height: 1.15em;
    text-transform: none;
}

textarea{
    width: 100%;
    overflow: auto;
    line-height: 1.5em;
    height: 140px;
    border: 0;
    box-sizing: border-box;
    padding: 15px;
    resize: none;
    margin: 0;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textarea;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
}

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus {
    outline:0px !important;
}

.index1 li a:hover, .index2 li a:hover{
    color: whitesmoke;
}

.input{
    border: 1px solid #eaeaea;
    border-color: rgba(0,0,0,.1);
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
}

.comment-btn-wrapper{
    text-align: right;
    padding: 10px;
    border: 1px #eaeaea solid;
    border-color: rgba(0,0,0,.1);
    border-width: 0 1px 1px;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
}

.preview-button{
    line-height: 30px;
    margin-right: 10px;
    font-size: 12px;
}

.post-comment-button{
    border-radius: 0;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 14px 18px;
    position: relative;
    text-align: center;
    background-color: #272727;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 12px/1em 'Helvetica Neue',helvetica,arial,sans-serif;
}

.remove-left-padding{
    padding:0;
}



/* gallery */
.content{
    margin-top: 20px;
}

/* blog */
.bcontent{
    margin-top: 60px;
    padding: 0;
}

.card-deck a:hover{
    text-decoration: none;
    background-color: transparent;
}

form{
    margin-top: 80px;
}

.myComment{
    margin-top: 20px;
}

h1{
    font-family: 'bebas-neue';
    font-size: 50px;
}

.myComment div p{
    font-family: sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .01em;
    line-height: 2em;
    text-transform: none;
    color: #222;
}

input{
    background-color: #fafafa;
    border-radius: 0;
}

.myBtn{
    border: 1px solid black;
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 25px;
    width: 120px;
}

.myBtn:hover{
    background-color: black;
    color: white;
}

.message{
    border: 0.5px lightgray solid;
    border-radius: 20px;
}

/* blog */
.category{
    text-align: center;
}

small{
    text-transform: uppercase;
}

.topic{
    margin-top: 20px;
    background-image: linear-gradient(to right, white, gray);
}

/* media query */
@media only screen and (max-width: 760px) {

    * {
        padding: 0;
        margin: 0;
    }

    .brand-text {
        color: black;
        font-size: 20px;
    }

    .navbar-trans {
        background-color: white;
        opacity: 1;
    }

    .position {
        justify-content: left;
    }

    .index1 .nav-item {
        padding: 0;
    }

    a {
        color: black;
    }

    ul.index1 li {
        margin-right: 300px;
    }

    ul.index1 {
        padding-bottom: 500px;
    }

}



.footer-area{
    background-color: gray;
    margin-top: 40px;
}

.myfooter{
    padding-top: 40px;
}

@media (max-width:991px){
    .footer-area .single-footer-widget{
        margin-bottom: 30px;
    }
}

.footer-area .single-footer-widget h4{
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-area .single-footer-widget p{
    color: #ffffff;
    margin-bottom: 0;
    padding-bottom: 0;
}

@media(max-width: 1024px){
    .footer-area .single-footer-widget h4{
        font-size: 18px
    }
}

@media(max-width: 991px){
    .footer-area .single-footer-widget h4{
        margin-bottom: 15px;
    }

    .footer-area .single-footer-widget .btn{
        margin: 10px;
    }
}

.footer-area .single-footer-widget ul{
    padding-left: 0px;
}
.footer-area .single-footer-widget ul li{
    margin-bottom: 15px;
    list-style: none;
}
.footer-area .single-footer-widget ul li a{
    transition: all 300ms linear 0s;
    color:white;
}
.footer-area .single-footer-widget ul li a:hover{
    color: green;
}
.footer-area .single-footer-widget .form-wrap{
    margin-top: 5px;
}

.footer-area .single-footer-widget textarea{
    height: 50px;
    border: none;
    width: 70%;
    font-weight: 700;
    background: #ffffff;
    color: #797979;
    padding-left: 20px;
    font-size: 14px;
    padding: 10px;
}

.footer-area .single-footer-widget .btn{
    margin-top: 5px;
}

.footer-area .single-footer-widget .btn:hover{
    background-color: black;
    color: white;
}

.footer-area .single-footer-widget .click-btn{
    font-size: 12px;
    text-transform: uppercase;
    background: #ffffff;
    padding: 8px 12px;
}
.footer-area .footer-bottom{
    margin-top: 20px;
}

@media(max-width: 991px){
    .footer-area .footer-bottom{
        margin-top: 20px;
    }
}

.footer-area .footer-bottom p{
    color: white;
    font-weight: bold;
    text-align: center;
}

.footer-area .footer-bottom .footer-social{
    text-align: center;
}

@media(max-width: 991px){
    .footer-area .footer-bottom .footer-social{
        text-align: left;
        margin-top: 30px;
    }
}

* {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }

  .remove-padding{
      padding: 0;
  }

  .row{
      overflow: hidden;
  }

  .positioning{
    position: relative;
    left: 240px;
  }



  .home-page{
    background-image: url("https://images.pexels.com/photos/408518/pexels-photo-408518.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;    
}

nav{
    font-family: Bebas Neue;
    font-size: 1.4rem;
    color: black;
}


.hamburger{
    font-size: 2rem;
}

.nav-name{
    color: #222;
    font-size: 3.8rem;
}

.nav-job{
    color: #222;    
}

.nav-item a{
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #222;
}

.header{
    display: flex;
    flex-direction: column;    
}

.header a:hover{
    color: black;
    text-decoration: none;
}

.index-header a:hover{
    color: white;
    text-decoration: none;
}

.header .nav-job{
    letter-spacing: 2px;
}

.index-link{
    color: white;
}

.index-link a{
    color: white;
}

.gallery img{
    filter: brightness(70%);
}


.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

/* decrease the font size of header when collapsing */
@media only screen and (max-width: 850px) {    
    nav{
        background: white;
    }
    .nav-name{
        color: #222;
        font-size: 1.5rem;
    }

    .index-link{
        color: black;
    }
    
    .index-link a{
        color: black;
    }    
    .nav-job{
        visibility: hidden;    
    } 

    .contact-intro{
        margin-top: 5rem;
    }

    .social-links{
        visibility: hidden;
        height: 0;
    }

  }