* {
    margin: 0;
    padding: 0;
}
/* Google font */
@font-face {
    font-family: 'bebas-neue';
    src: url("../font/BebasNeue-Regular.ttf");
    font-style: normal;
    font-weight: 100;
}
/* navigation */

.brand-text {
    font-size: 50px;
    font-family: 'bebas-neue', 'gobold';
    padding: 5px 24px;
    margin-bottom: 0;
}

.tag-text {
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 5px 24px;
    position: relative;
    bottom: 20px;
}

a {
    color: white;
}

ul.position li {
    font: 24px 'bebas-neue', 'gobold';
}


div ul.links li {
    padding: 0px;
}

.navbar-brand {
    margin-bottom: 0;
}

.index1 li a:hover {
    transform: scale(1.5);
}

/* toggler */
.navbar-togler-icon {
    background-color: white;
}

/* index */
.index {
    margin-right: 90px;
}

.index1 .nav-item {
    padding: 40px;
}

/* media query */
@media only screen and (max-width: 760px) {

    * {
        padding: 0;
        margin: 0;
    }

    .brand-text {
        color: black;
        font-size: 20px;
    }

    .navbar-trans {
        background-color: white;
        opacity: 1;
    }

    .position {
        justify-content: left;
    }

    .index1 .nav-item {
        padding: 0;
    }

    a {
        color: black;
    }

    ul.index1 li {
        margin-right: 300px;
    }

    ul.index1 {
        padding-bottom: 500px;
    }

}